.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* CSS Edits */
.name-home{
  font-family:'Gill Sans';
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}

.icon-hover:hover {
  border: 0.001px solid #e5e7eb; /* Change the color and border width as needed */
  border-radius: 50%; /* If you want rounded borders for circular icons */
}

.send_btn:hover {
  color: white;
}

.responsive-text{
  font-size: 3rem;
}

@media (max-width: 1100px) {
  .responsive-text {
    font-size: 2rem;
    padding: 5px;
  }
}

@media (max-width: 500px) {
  .responsive-text {
    font-size: 1.5rem;
    padding: 3px;
  }
}


/* Add this to your existing stylesheets */
.cards-container {
  display: flex;
  border-radius: 2px;
  
 
  padding: 1rem;
 
  overflow-x: auto;
  position: relative;
}

.card {
  flex: 1 0 250px;
  box-shadow: 0 0.1px 1px -4px;
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.card img {
  width: 250px;
  height: 250px;
  object-fit: center;
}

.card-content {
  padding: 1rem;
}

/* More styles here... */
.card img {
  width: 250px; /* Fixed width */
  height: 250px; /* Fixed height */
  object-fit: cover; /* Adjusts image size to cover the element box */
}

.card {
  flex: 1 0 250px;  /* flex-basis set to 250px */
  max-width: 250px; /* Maximum width */
  min-height: 350px; /* Minimum height */
  max-height: 350px; /* Maximum height */
  box-shadow: 0 1px 1rem -4px #000;
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.card img {
  width: 100%;  /* Full width */
  height: 250px;  /* Fixed height */
  object-fit: cover;  /* Keeps aspect ratio and covers the div */
}

.card-content {
  padding: 1rem;
}
